Flask==1.1.2
Jinja2==2.11.2
jsonify==0.5
Keras==2.3.0
lxml==4.5.1
matplotlib==3.2.1
numpy==1.18.4
pandas==1.2.4
pickleshare==0.7.5
Pillow==7.1.2
requests==2.23.0
scikit-learn==0.23.1
scipy==1.6.3
seaborn==0.11.1
sklearn==0.0
tensorflow==2.5.0
urllib3==1.25.9
Werkzeug==1.0.1
gunicorn
